nav {
    position:fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey);
    box-shadow: 10px 3px 100px rgba(202, 10, 10, 0.1);
    width: 100%;
    background-color:steelblue;
    overflow-x: hidden;
}
nav h1 {
    color: var(--primary-color);
    outline: none;
    padding-left: 5%;
    display: flex;
    font-weight: 500;
    font-size: xx-large;
    text-shadow: 1px 1px 1px skyblue;
  }

nav ul {
    display: none;
}
button{
    display: flex;
}





:host.pc nav {
    position:fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey);
    box-shadow: 10px 3px 100px rgba(202, 10, 10, 0.1);
    width: 100%;
    background-color:steelblue;
  }
  :host.pc nav h1 {
    color: var(--primary-color);
    outline: none;
    padding-left: 5%;
    display: flex;
    font-weight: 500;
    font-size: xx-large;
    text-shadow: 1px 1px 1px skyblue;
  }

  :host.pc a {
    color:black;
    text-decoration: none;
    letter-spacing: 0.15em;
    display:flex;
    padding: 15px 20px;
    position: relative;
  }
  :host.pc a::after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: flex;
    height: 1px;
    left: 50%;
    position: absolute;
    background: skyblue;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
 
  }
  :host.pc nav a:hover::after { 
    width: 100%; 
    left: 0; 

  }
 
  
  :host.pc ul {
    display:flex;
    align-items: center;
    gap: 1.9rem;
    padding-right: 2%;

    
  }
  
  :host.pc ul li {
    font-weight: 700;
    list-style: none;
    font-size: x-large;
    float: right;
    position: relative;
  }

:host.pc .button{
    width: 0cap;
    display: none;
}
:host.pc ul li:active {
    color: skyblue;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }
